* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 100%;
  font-family: "Work Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: #55595c;
  font-size: 0.9rem;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 0.5rem;
}

/* Custom Classes */

.btn {
  font-size: 11px;
  line-height: 1.5;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  color: #1a1a1a;
  display: inline-block;
  text-align: center;
  user-select: none;
  background-color: transparent;
  border: 0 solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-transform: uppercase;
}

.btn:hover {
  text-decoration: underline;
}

/* ================================== PC (Product Cart) ================================== */

.PC {
  width: 100%;
  background-color: var(--secondary-color);
  padding: 1rem 1rem 2rem 1rem;
  font-family: var(--sans-serif-font);
  text-align: center;
}

/* =============== PD-top ================ */

.PC-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ======= PC-qty-button ======= */

.PC-qty-buttons-container {
  display: flex;
  align-items: center;
}

.PC-qty-buttons-container button {
  width: 15px;
  height: 15px;
  padding: 0.6rem;
  border: 1px solid var(--main-color-txt);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-family: var(--sans-serif-font);
}

.PC-qty-buttons-container button:active {
  transform: translateY(1px);
}

.PC-qty-buttons-container button:nth-child(3) {
  background-color: var(--main-color-txt);
  color: var(--main-color);
}

.PC-qty-buttons-container button:hover:nth-child(3) {
  background-color: var(--main-color-txt-hover);
}

.PC-qty-buttons-container span {
  margin: 0 1rem;
  font-size: 1.1em;
  font-weight: 500;
}

/* ======= PC-remove-button ======= */

.PC-remove-btn {
  width: 22.5px;
  height: 22.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-color-txt);
  border-radius: 5px;
  font-size: 0.75em;
}

.PC-remove-btn:hover {
  background: var(--danger-color);
  border: 1px solid var(--danger-color);
}

.PC-remove-btn-img {
  width: 100px;
  stroke: var(--main-color-txt);
}

.PC-remove-btn:hover .PC-remove-btn-img {
  stroke: var(--main-color);
}

/* =============== PD-bottom ================ */

.PC-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  color: var(--main-color-txt);
}

.PC-bottom img {
  width: 200px;
}

.PC-price {
  margin-top: 0.75rem;
}

.PC-price span {
  font-size: 0.9em;
  color: var(--third-color);
}
